<h1>Google Cloud Platform - Natural Language API - ver 0.0.5</h1>

<p>This Python Flask application demonstrates App Engine Flexible, Datastore, and the Natural Language API.</p>

<br>

<html>
  <body>
    <form action="upload" method="POST" enctype="multipart/form-data">
      Upload Text: <input type="text" name="text"><br>
      <input type="submit" name="submit" value="Submit">
    </form>
    {% for text_entity in text_entities %}
      <p>Text: {{text_entity['text']}}</p>
      <p>Uploaded: {{text_entity['timestamp']}}</p>
      <p>Overall Sentiment: {{text_entity['sentiment']}}</p>
      <br/>
      <p><strong>English Text:</strong> {{text_entity['text_en']}}</p>
      <p><strong>English Sentiment:</strong> {{text_entity['sentiment_en']}}</p>
      <br/>
      <p><strong>German Text:</strong> {{text_entity['text_de']}}</p>
      <p><strong>German Sentiment:</strong> {{text_entity['sentiment_de']}}</p>
    {% endfor %}
  </body>
</html> 
